.div-wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.button {
  grid-row: 4;
  place-self: initial;
  background-color: #a259ff;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  max-width: fit-content;
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 20px;
}

@media (min-width: 426px) {
  .grid-wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .button {
    grid-column: 2/3;
    grid-row: 1;
    place-self: end;
    margin-top: 0;
  }
  .cards {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column: -3/-1;
  }
}
